<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @arg[:name] %>,</p>
    <br>
    <p>Thank you for ordering <%= @arg[:quantity] %> LiveGlass(es)! This is your order confirmation. </p>
    <br>
	<p>If you've picked up your LiveGlass(es) already, great! We hope you enjoy your purchase.</p>
	<br>
	<p>If you haven't picked it up yet, there are 2 ways for you to get your LiveGlass. </p>
	<br>
	<p>1) Sproul pick up! We will have a table on Sproul every day of the week from 11am-1pm. Just come by and show us this confirmation email - you'll be good to go.</p>
	<br>
	<p>2) Delivery! If you selected delivery on your order, please reply to this email and we'll set up your delivery.</p>
    <br>
    <p>Thanks,</p>
    <p>The LiveGlass Team</p>
    
  </body>
</html>